<div class="card">
    <div class="card-body">
        <h1>
            About
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum quo neque repellendus ratione eligendi obcaecati magnam. Vel provident odit quisquam enim sunt doloremque asperiores veniam nisi molestiae molestias tempora itaque amet unde iusto ex eius aspernatur animi, eligendi laborum nam!</p>
    </div>
</div>