
<div class="jumbotron mt-4">
    <div class="display-4">Notes App Nodejs and MongoDb</div>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet cum officiis rerum fuga debitis quisquam asperiores incidunt, dolores architecto culpa ea nemo adipisci libero ducimus magnam distinctio dignissimos at dolor.</p>
    <a href="" class="btn btn-primary btn-lg">WolfSkull Web</a>

</div>
